development_plan.aux
development_plan.dvi
development_plan.log
development_plan.out
development_plan.pdf
development_plan.toc
main_document.aux
main_document.dvi
main_document.log
main_document.out
main_document.pdf
main_document.toc